<md-card>
    <img ng-src="{{ food.image_src }}" class="md-card-image" alt="Food Image">
    <md-card-title>
        <md-card-title-text>
            <span class="md-title">{{ food.name }}</span>
            <span class="md-subhead">{{ food.short_desc }}</span>
            <div layout="row" layout-wrap layout-align="start start">
                <md-button class="md-primary">
                    <span class="md-subhead">{{ food.area1_name }}</span>
                </md-button>
                <md-button class="md-primary">
                    <span class="md-subhead">{{ food.area2_name }}</span>
                </md-button>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div layout-align="start start">
            <md-button class="md-raised md-primary">
                <span class="md-body-2">{{ food.season }}</span>
            </md-button>
            <br>
            <md-button ng-click="monthSelected(month)" class="md-fab md-mini" ng-repeat="month in months">
                <span class="md-body-2">{{ month }}</span>
            </md-button>
        </div>
        <span class="md-body-1">{{ food.long_desc }}</span>
    </md-card-content>
</md-card>
