<md-toolbar ng-controller="NavbarController as vm">
    <div hide-xs hide-sm class="md-toolbar-tools">
        <locations flex="30" locations="vm.locations" ng-show="vm.locations && vm.locations.length"></locations>
        <span flex="5"></span>
        <md-select ng-model="vm.season" ng-change="vm.seasonSelected()" placeholder="季節">
          <md-option value="">季節</md-option>
            <md-option value="SP">春</md-option>
            <md-option value="SU">夏</md-option>
            <md-option value="FA">秋</md-option>
            <md-option value="WI">冬</md-option>
        </md-select>
        <span flex="5"></span>
        <md-select ng-model="vm.month" ng-change="vm.monthSelected()" placeholder="月">
          <md-option value="">月</md-option>
            <md-option value="1">1月</md-option>
            <md-option value="2">2月</md-option>
            <md-option value="3">3月</md-option>
            <md-option value="4">4月</md-option>
            <md-option value="5">5月</md-option>
            <md-option value="6">6月</md-option>
            <md-option value="7">7月</md-option>
            <md-option value="8">8月</md-option>
            <md-option value="9">9月</md-option>
            <md-option value="10">10月</md-option>
            <md-option value="11">11月</md-option>
            <md-option value="12">12月</md-option>
        </md-select>
        <span flex></span>
        <h3 class="md-title">nomihodai | the food service</h3>
    </div>
</md-toolbar>
